.nav{
    width: 85%;
    margin: 0 auto;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#dcaa97 ;
    margin-top: 10px;
    border-radius: 2rem;
    position: fixed; /* Fixes the navbar */
top: 0; /* Sticks it to the top of the viewport */
left: 50%; /* Center it horizontally */
transform: translateX(-50%); /* Ensures the centering works with fixed positioning */

z-index: 1000; /* Ensures it's above other content */
padding: 10px;

    
}
a{
    text-decoration: none;
    color: black;
}